{% extends 'base.html' %}
{% block metainfo %}
  <title>Home</title>
{% endblock %}
{% block content %}
  <div class="container pb-6 my-6">
    <div class="is-flex is-flex-direction-column is-align-items-center">
      <h1 class="title">Adicione mais vendas</h1>
      <form action="{% url 'sales:processing' %}" method="POST" enctype="multipart/form-data" class="is-flex is-flex-direction-column is-align-items-center">
        {% csrf_token %}
        <div class="file is-centered is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="sales" accept=".txt" required>
            <span class="file-cta">
              <span class="file-label">
                Escolha o arquivo ...
              </span>
            </span>
            <span class="file-name">
              Nenhum arquivo selecionado
            </span>
          </label>
        </div>
        <button class="button is-primary my-4" type="submit">Iniciar</button>
      </form>
    </div>
  </div>
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Última venda</p>
        {% if last_sale %}
          <p class="title">{{ last_sale.buyer }} - R$ {{ last_sale.total_price|floatformat:2 }}</p>
        {% else %}
          <p>Sem vendas cadastradas</p>
        {% endif %}
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Total de vendas</p>
        <p class="title">{{ sales_count }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Valor total das vendas</p>
        {% if sales_total_price %}
          <p class="title">R$ {{ sales_total_price|floatformat:2 }}</p>
        {% else %}
          <p class="title">-</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}