{% extends 'base.html' %}
{% load static %}
{% block metainfo %}
  <title>Home</title>
{% endblock %}
{% block content %}
  <div class="container">
    <section class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">Última venda</p>
          </div>
          <div class="card-content">
            {% if last_sale %}
              <p class="py-2">Nome: {{ last_sale.buyer }}</p>
              <p class="py-2">Preço: {{ last_sale.price }}</p>
              <p class="py-2">Quantidade: {{ last_sale.quantity }}</p>
            {% else %}
              <p class="py-2">Sem vendas cadastradas</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">Total de vendas</p>
          </div>
          <div class="card-content is-flex is-justify-content-center">
            <p style="font-size: 64px;">{{ sales_count }}</p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">Valor total das vendas</p>
          </div>
          <div class="card-content is-flex is-justify-content-center" style="height: 100%;">
            <strong style="font-size: 48px;">R$ {{ sales_total_price|floatformat:2 }}</strong>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}